<template>
  <v-container fluid>
    <v-row align="center" justify="center" class="mt-10">
      <v-col cols="10" class="mb-5 mt-10">
        <v-row align="center" justify="center">
          <div style="text-align: center">
            <h1 style="color: #333333">Contactanos</h1>
            <v-divider class="mx-auto mb-3 mt-3 divider"></v-divider>
            <h3 class="divider-sub-title">Tu diversion y confort es nuestro compromiso.</h3>
          </div>
        </v-row>
      </v-col>
    </v-row>
    <v-row justify="center" class="mb-10">
      <v-col class="mr-5" cols="6" style="padding: 0">
        <v-card>
          <div class="d-flex px-6 py-5">
            <v-icon class="pr-5" size="24" dense>mdi-phone-outline</v-icon>
            <h3 style="font-size: 20px; font-weight: 100">Informacion de Contacto</h3>
          </div>
          <v-divider class="mx-auto mb-5 form-underline"></v-divider>

          <div class="px-6 py-5 map-div" style="border-radius: 16px">
            <map-component />

            <div class="pt-8">
              <v-col cols="6" class="d-flex">
                <v-icon
                  class="mr-5"
                  color="#8c8c8c"
                  style="margin-top: -20px;font-weight: 100"
                >mdi-map-marker-outline</v-icon>
                <h3
                  style="font-size: 16px; font-weight: 100"
                >484 Ellis St, San Francisco, CA 94102,United States</h3>
              </v-col>
              <v-col cols="6" class="d-flex">
                <v-icon class="mr-5" color="#8c8c8c" style="font-weight: 100">mdi-phone-outline</v-icon>
                <h3 style="font-size: 16px; font-weight: 100">829-639-4810</h3>
              </v-col>
              <v-col cols="6" class="d-flex">
                <v-icon class="mr-5" color="#8c8c8c" style="font-weight: 100">mdi-email-outline</v-icon>
                <h3 style="font-size: 16px; font-weight: 100">support@localizateya.com</h3>
              </v-col>
              <v-col cols="6" class="d-flex">
                <v-icon class="mr-5" color="#8c8c8c" style="font-weight: 100">mdi-web</v-icon>
                <h3 style="font-size: 16px; font-weight: 100">support@localizateya.com</h3>
              </v-col>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="4" style="padding: 0">
        <v-card>
          <div class="d-flex px-6 py-5">
            <v-icon class="pr-5" size="24" dense>mdi-format-list-bulleted</v-icon>
            <h3 style="font-size: 20px; font-weight: 100">Contactanos</h3>
          </div>
          <v-divider class="mx-auto mb-5 form-underline"></v-divider>

          <div class="px-6 py-5">
            <v-form autocomplete="off" ref="form" @submit.prevent="onSubmit">
              <v-text-field
                v-model="contact.name"
                label="Nombre..."
                color="#ffa737"
                outlined
                required
              ></v-text-field>

              <v-text-field
                v-model="contact.email"
                label="Correo..."
                color="#ffa737"
                outlined
                required
              ></v-text-field>

              <v-text-field
                v-model="contact.subject"
                label="Topico..."
                color="#ffa737"
                outlined
                required
              ></v-text-field>

              <v-textarea
                v-model="contact.description"
                label="Descripcion..."
                color="#ffa737"
                outlined
                required
              ></v-textarea>

              <v-btn class="search-button" outlined depressed large type="submit">Enviar</v-btn>
            </v-form>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MapComponent from "../components/MapComponent.vue";
export default {
  name: "Contact",

  components: {
    MapComponent
  },

  data() {
    return {
      error: null,
      contact: {
        name: "",
        email: "",
        subject: "",
        description: ""
      }
    };
  },

  methods: {
    onSubmit() {
      this.$store
        .dispatch("sendMail", this.contact)
        .then(() => {
          this.contact.name = "";
          this.contact.email = "";
          this.contact.subject = "";
          this.contact.description = "";
        })
        .catch(err => {
          this.error = err.response;
        });
    }
  }
};
</script>

<style scoped>
.form-underline {
  border: solid 0.1px #cccccc;
}
.divider {
  border: solid 0.3px #8c8c8c;
  width: 100px;
}
.divider-sub-title {
  color: #8c8c8c;
  font-size: 16px;
}
</style>
