<template>
  <!-- <v-app> -->
  <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
  <HomeComponent msg="Welcome to Your Vue.js App" />
  <!-- </v-app> -->
</template>

<script>
// @ is an alias to /src
import HomeComponent from "@/components/HomeComponent.vue";

export default {
  name: "Home",
  components: {
    HomeComponent
  }
};
</script>
