<template>
  <div>
    <v-app-bar height="74" fixed :color="color" :inverted-scroll="inverted">
      <div class="logo d-flex align-center">
        <router-link class="d-flex" to="/">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
            transition="scale-transition"
            width="40"
          />

          <v-img
            alt="Vuetify Name"
            class="shrink mt-1 hidden-sm-and-down"
            contain
            min-width="100"
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
            width="100"
          />
        </router-link>
      </div>

      <v-spacer></v-spacer>

      <v-container fluid>
        <v-row>
          <v-col cols="12">
            <v-row align="center" justify="end" class="side">
              <h3 class="link">
                <router-link style="color: #fff" to="/">Descubrir</router-link>
              </h3>
              <h3 class="link">
                <router-link style="color: #fff" to="/contact">Contacto</router-link>
              </h3>

              <router-link to="/add-listing" class="pr-5">
                <v-btn class="ma-2 add-listing-btn" outlined rounded color="white" height="50">
                  <v-icon size="24" left>mdi-plus</v-icon>
                  <span style="font-size: 13px">Listar Negocio</span>
                </v-btn>
              </router-link>

              <span class="group pa-2 pr-5">
                <v-icon size="16" color="white">fa fa-user</v-icon>
              </span>

              <h2 style="font-size: 16px;" class="pr-5" v-show="user !== null">
                <v-menu transition="slide-y-transition" bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span
                      style="color: #fff"
                      v-bind="attrs"
                      v-on="on"
                    >{{ user === null ? '' : user.name }}</span>
                  </template>
                  <v-list rounded>
                    <v-list-item-group>
                      <v-list-item @click="logOut()">
                        <v-list-item-icon>
                          <v-icon>mdi-account</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title>Salir</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-menu>
              </h2>

              <h3 style="font-size: 16px;" v-show="user === null">
                <span type="button" style="color: #fff" @click="openModal(type = 'l')">Entrar</span>
                <span class="o-span-class">o</span>
                <span type="button" style="color: #fff" @click="openModal(type = 'r')">Registrarse</span>
              </h3>
            </v-row>
          </v-col>
        </v-row>
        <div>
          <AuthModal :authModal="authModal" />
        </div>
      </v-container>
    </v-app-bar>
  </div>
</template>

<script>
import AuthModal from "./AuthModal.vue";
import { globalStore } from "../main";
import { mapActions } from "vuex";
export default {
  name: "AppBar",

  components: {
    AuthModal,
  },

  computed: {
    user: function () {
      return globalStore.globalUser === null
        ? null
        : globalStore.globalUser.data.user;
    },
  },
  data() {
    return {
      color: "#021F4A",
      navBgHeight: "500",
      authModal: {
        dialog: false,
        account: false,
      },
      type: "",

      inverted: true,
      currentRoute: null,
    };
  },

  created() {
    this.currentRoute = this.$router.currentRoute.name;
  },

  watch: {
    $route(to, from) {
      this.currentRoute = this.$router.currentRoute.name;
      this.inverted = this.currentRoute === "HomeComponent" ? true : false;
    },
  },

  methods: {
    openModal(type) {
      type === "l"
        ? (this.authModal.account = true)
        : (this.authModal.account = false);

      this.authModal.dialog = !this.authModal.dialog;
    },

    logOut() {
      this.$store
        .dispatch("logout")
        .then(() => {
          console.log("Tuvimos exito");
        })
        .catch((err) => {
          console.log(err);
          this.error = err.response;
        });
    },
  },
};
</script>

<style scoped>
.logo {
  padding-left: 30px;
}
.side {
  padding-right: 30px;
}
.link {
  padding-right: 30px;
  font-size: 16px;
}
.v-application a {
  text-decoration: none !important;
}
.v-btn.add-listing-btn:hover {
  color: #021f4a !important;
  background-color: #fff;
  transition: 0.5s;
}
.o-span-class {
  color: #fff;
  padding: 0px 10px;
  font-size: 16px;
}
</style>