<template>
  <v-dialog max-width="420" v-model="authModal.dialog">
    <v-card align="center" justify="center" v-show="authModal.account === true">
      <v-col cols="12">
        <h2 class="pt-3" style="color: #666666">Entrar</h2>
      </v-col>
      <v-col cols="11">
        <v-form @submit.prevent="onLogin">
          <v-text-field
            v-model="login.email"
            class="text-field mb-5"
            label="Email"
            outlined
            type="email"
            required
          ></v-text-field>
          <v-text-field
            v-model="login.password"
            class="text-field mb-5"
            label="Contraseña"
            type="password"
            outlined
            required
          ></v-text-field>

          <v-col cols="12" justify="end" align="end">
            <h3
              class="mt-2 mb-2"
              style="font-size: 14px; font-weight: 100; cursor: pointer; color: #8c8c8c"
            >Olvidaste tu Contraseña?</h3>
          </v-col>

          <v-btn class="send-button" outlined type="submit">Entrar</v-btn>
        </v-form>

        <v-col cols="12">
          <h3 class="mt-2 connect-text">O conectate con</h3>
        </v-col>
        <v-col class="register-options" cols="12">
          <v-btn color="#3b5998" dark>
            <v-icon left size="24">mdi-facebook</v-icon>Facebook
          </v-btn>
          <v-btn color="#dc4d28" dark>
            <v-icon left>mdi-google</v-icon>Google
          </v-btn>
        </v-col>
      </v-col>
    </v-card>

    <v-card align="center" justify="center" v-show="authModal.account === false">
      <v-col cols="12">
        <h2 class="pt-3" style="color: #666666">Registrate</h2>
      </v-col>
      <v-col cols="11">
        <v-form @submit.prevent="onRegister">
          <v-text-field
            v-model="register.name"
            class="text-field mb-5"
            label="Nombre"
            outlined
            required
          ></v-text-field>
          <v-text-field
            v-model="register.email"
            class="text-field mb-5"
            label="Email"
            outlined
            type="email"
            required
          ></v-text-field>
          <v-text-field
            v-model="register.password"
            class="text-field mb-5"
            label="Contraseña"
            type="password"
            outlined
            required
          ></v-text-field>
          <v-text-field
            v-model="register.password_confirmation"
            class="text-field mb-5"
            label="Confirme su Contraseña"
            type="password"
            outlined
            required
          ></v-text-field>

          <v-btn class="send-button" outlined type="submit">Registrar</v-btn>
        </v-form>

        <v-col cols="12">
          <h3 class="mt-2 connect-text">O registrate con</h3>
        </v-col>
        <v-col class="register-options" cols="12">
          <v-btn color="#3b5998" dark>
            <v-icon left size="24">mdi-facebook</v-icon>Facebook
          </v-btn>
          <v-btn color="#dc4d28" dark>
            <v-icon left>mdi-google</v-icon>Google
          </v-btn>
        </v-col>
      </v-col>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AuthModal",
  props: {
    authModal: Object,
  },

  data() {
    return {
      login: {
        email: "",
        password: "",
      },
      register: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
    };
  },

  methods: {
    onLogin() {
      this.$store
        .dispatch("login", this.login)
        .then(() => {
          this.authModal.dialog = false;
        })
        .catch((err) => {
          this.authModal.dialog = false;
        });
    },
    onRegister(valid) {
      if (valid) {
        this.$store
          .dispatch("register", this.register)
          .then(() => {
            this.authModal.dialog = false;
          })
          .catch((err) => {
            this.authModal.dialog = false;
          });
      }
    },

    valid() {
      return this.password === this.password_confirmation;
    },
  },
};
</script>

<style scoped>
.v-btn.send-button {
  width: 100%;
  height: 50px;
  background-color: #021f4a;
  border-radius: 10px;
  border: solid 2px #021f4a;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.v-btn.send-button:hover {
  color: #021f4a !important;
  border: solid 2px #021f4a;
  background-color: #fff;
  transition: 0.5s;
}
.v-text-field.text-field {
  /* border: #021f4a solid 2px; */
  height: 60px;
  display: flex;
}
.connect-text {
  font-size: 16px;
  font-weight: 100;
  color: #8c8c8c;
}
.register-options {
  display: flex;
  justify-content: space-between;
}
</style>