<template>
  <v-footer padless>
    <v-card flat tile width="100%" class="lighten-1 text-center">
      <div style="background-color: #23293E; padding: 10px 0px">
        <v-card-text>
          <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
            <v-icon size="24px">{{ icon }}</v-icon>
          </v-btn>
        </v-card-text>
      </div>

      <v-divider horizontal></v-divider>

      <v-card-text class="white--text" style="margin-top: -10px;background-color: #1B2032">
        {{ new Date().getFullYear() }} —
        <strong>LocalizateYa</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "FooterComponent",

  data() {
    return {
      icons: ["mdi-home", "mdi-email", "mdi-calendar", "mdi-delete"]
    };
  }
};
</script>

<style scoped>
</style>