<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" style="padding: 0px;">
        <v-img
          :aspect-ratio="16/9"
          class="lightbox white--text pa-2 fill-height"
          src="../assets/header_inicio.jpg"
          gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
        >
          <!-- Navbar -->
          <div class="logo logo-container d-flex align-center">
            <v-img
              alt="Vuetify Logo"
              class="shrink mr-2"
              contain
              src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
              transition="scale-transition"
              width="40"
            />

            <v-img
              alt="Vuetify Name"
              class="shrink mt-1 hidden-sm-and-down"
              contain
              min-width="100"
              src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
              width="100"
            />

            <v-spacer></v-spacer>

            <v-row align="center" justify="end" class="menu-row">
              <h3 class="link">
                <router-link style="color: #fff" to="/">Descubrir</router-link>
              </h3>
              <h3 class="link">
                <router-link style="color: #fff" to="/contact">Contacto</router-link>
              </h3>

              <router-link to="/add-listing" class="pr-5">
                <v-btn class="ma-2 add-listing-btn" outlined rounded color="white" height="50">
                  <v-icon style="transition: 0.1s;" size="24" left>mdi-plus</v-icon>
                  <span style="font-size: 13px">Listar Negocio</span>
                </v-btn>
              </router-link>

              <span class="group pa-2 pr-5">
                <v-icon size="16" color="white">fa fa-user</v-icon>
              </span>

              <h2 style="font-size: 16px;" class="pr-5" v-show="user !== null">
                <v-menu transition="slide-y-transition" bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span
                      style="color: #fff"
                      v-bind="attrs"
                      v-on="on"
                    >{{ user === null ? '' : user.name }}</span>
                  </template>
                  <v-list rounded>
                    <v-list-item-group color="primary">
                      <v-list-item @click="logOut()">
                        <v-list-item-icon>
                          <v-icon>mdi-account</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title>Salir</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-menu>
              </h2>

              <h3 style="font-size: 16px;" v-show="user === null">
                <span type="button" style="color: #fff" @click="openModal(type = 'l')">Entrar</span>
                <span class="o-span-class">o</span>
                <span type="button" style="color: #fff" @click="openModal(type = 'r')">Registrarse</span>
              </h3>
            </v-row>
          </div>
          <!-- Navbar -->

          <!-- Search-Box -->
          <v-row>
            <v-col cols="12">
              <v-row align="end" justify="center" class="lighten-5" style="height: 300px;">
                <div>
                  <h1 class="discover-text">Discover the city Gems</h1>
                  <h1
                    class="sub-text"
                  >Find great places to stay, eat, shop, or visit from local experts.</h1>
                </div>
              </v-row>
              <v-row align="end" justify="center" class="mt-5">
                <v-col cols="8" class="input-border">
                  <v-row class="search-box">
                    <v-col cols="4">
                      <v-text-field
                        class="search-fields"
                        label="Que estas buscando?"
                        append-icon="search"
                        solo
                        flat
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3">
                      <v-text-field
                        class="search-fields"
                        append-icon="place"
                        label="Location"
                        solo
                        flat
                      ></v-text-field>
                    </v-col>
                    <v-col cols="3">
                      <v-select :items="items" class="search-fields" label="Categorias" solo flat></v-select>
                    </v-col>
                    <v-col cols="2">
                      <v-btn class="search-button" outlined depressed large>Buscar</v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <!-- Search-Box -->

          <AuthModal :authModal="authModal" />

          <!-- Highlights -->
          <v-row>
            <v-col cols="12">
              <v-row align="end" justify="center" class="lighten-5" style="height: 300px;">
                <v-col cols="12" style="margin-bottom: -100px">
                  <v-row align="end" justify="center" class="lighten-5">
                    <h1 class="highlights-text">Or browse the highlights.</h1>
                  </v-row>
                </v-col>
                <div
                  v-for="card in browsCards"
                  :key="card.name"
                  class="icon-card ma-3 pa-8 white--text"
                >{{ card.name }}</div>
              </v-row>
            </v-col>
          </v-row>
          <!-- Highlights -->
        </v-img>
      </v-col>
    </v-row>

    <v-divider></v-divider>

    <!-- Explore by City -->
    <v-row class="mt-10" align="center" justify="center">
      <v-col cols="10">
        <v-row align="center" justify="center">
          <div style="text-align: center">
            <h1 style="color: #333333">Explore By City</h1>
            <v-divider class="mx-auto mb-3 mt-3 divider"></v-divider>
            <h3
              class="divider-sub-title"
            >Explore some of the best tips from around the city from our partners and friends.</h3>
          </div>
        </v-row>
      </v-col>
      <v-col cols="12">
        <v-row align="center" justify="center" class="grey lighten-5">
          <v-card v-for="n in 4" :key="n" class="ma-3" outlined tile style="border-radius: 12px">
            <v-img
              class="cities-img"
              src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
              gradient="to bottom right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
            >
              <div class="pl-8 cities-text-div">
                <h3>London</h3>
                <h5>12 locations</h5>
              </div>
            </v-img>
          </v-card>
        </v-row>
      </v-col>
    </v-row>
    <!-- Explore by City -->

    <!-- Explore Places -->
    <v-row class="mb-10" style="margin-top: 90px" align="center" justify="center">
      <v-col cols="10" class="mb-5">
        <v-row align="center" justify="center">
          <div style="text-align: center">
            <h1 style="color: #333333">Explore Places</h1>
            <v-divider class="mx-auto mb-3 mt-3 divider"></v-divider>
            <h3
              class="divider-sub-title"
            >Explore some of the best tips from around the city from our partners and friends.</h3>
          </div>
        </v-row>
      </v-col>

      <v-col cols="12">
        <v-row align="center" justify="center">
          <div v-for="featured in featuredCards" :key="featured.name">
            <v-card
              class="mx-auto mr-5"
              max-width="400"
              raised
              style="margin: 10px; border-radius: 14px"
            >
              <v-img
                :src="featured.img"
                height="280px"
                class="zoom"
                gradient="to bottom right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
              >
                <v-col>
                  <v-chip
                    v-show="featured.featured"
                    class="mt-3 ml-3 pl-7 pr-7"
                    color="white"
                    text-color="black"
                  >Featured</v-chip>
                  <v-chip
                    v-show="featured.price"
                    class="mt-3 ml-3 pl-7 pr-7"
                    color="white"
                    text-color="black"
                  >$25 - $35</v-chip>
                </v-col>

                <v-col>
                  <div class="d-flex pl-3 save-div">
                    <v-icon class="pr-1" dark size="20">mdi-heart-outline</v-icon>
                    <h2 class="save-text">Save</h2>
                  </div>
                </v-col>
              </v-img>

              <v-avatar class="card-avatar" size="80">
                <img :src="featured.userImg" alt="John" />
              </v-avatar>

              <v-row class="mt-5" style="padding-left: 20px">
                <v-rating
                  class="ml-3"
                  :value="featured.ratingValue"
                  dense
                  color="yellow darken-3"
                  half-increments
                  readonly
                  size="16"
                ></v-rating>
                <span style="color: #575A68">( 7 review)</span>
              </v-row>
              <h2 class="mt-2" style="color: #000; font-size: 18px; padding-left: 25px">
                {{ featured.name }}
                <v-icon class="ml-1" size="20" color="#FC8682">mdi-check-circle</v-icon>
              </h2>
              <h4
                class="mt-1"
                style="color: #575A68; font-size: 16px; font-weight: 100;padding-left: 25px"
              >{{ featured.description }}</h4>

              <v-row align="center" justify="space-between" class="address-phone-row">
                <div class="d-flex pl-1">
                  <v-icon class="pr-1" size="20" color="#575A68">mdi-map-marker-outline</v-icon>
                  <h2 class="phone-address">{{ featured.address }}</h2>
                </div>
                <div class="d-flex pr-1">
                  <v-icon class="pr-2" size="20" color="#575A68">mdi-phone-outline</v-icon>
                  <h2 class="mt-1 phone-address">{{ featured.phoneNumber }}</h2>
                </div>
              </v-row>

              <v-divider horizontal></v-divider>

              <v-row>
                <div class="pl-10 pb-3 pt-2" style="display: flex;justify-content: space-between">
                  <h2 class="mt-2" style="color: #FC8682; font-size: 13px">
                    <v-icon class="pr-2 category-icon" color="#fff">{{featured.categoryIcon}}</v-icon>
                    <span class="ml-2" style="margin-top: 10px;">{{ featured.category }}</span>
                  </h2>
                  <h2 class="mt-2 featured-status">{{ featured.status }}</h2>
                </div>
              </v-row>
            </v-card>
          </div>
        </v-row>
      </v-col>
    </v-row>
    <!-- Explore Places -->

    <!-- categories -->
    <v-row align="end" justify="center" class="pt-10 pb-10">
      <v-col cols="10" class="mb-5">
        <v-row align="center" justify="center">
          <div style="text-align: center">
            <h1 style="color: #333333">Popular Categories</h1>
            <v-divider class="mx-auto mb-3 mt-3 divider"></v-divider>
            <h3
              class="divider-sub-title"
            >Explore some of the best tips from around the city from our partners and friends.</h3>
          </div>
        </v-row>
      </v-col>
      <v-col cols="10" style="margin-right: 18px">
        <v-row align="center" justify="center" class="lighten-5">
          <div
            v-for="card in categoryCards"
            :key="card.title"
            class="category-card ma-3 black--text"
            style="text-align: center;width: 270px;height: 200px;"
          >
            <div class="pivot" style="margin-top: 50px">
              <v-icon
                class="popular-category-icon"
                :color="card.iconColor"
                size="50"
              >{{ card.icon }}</v-icon>
              <div class="mt-2" style="text-align:center">
                <h3 style="font-size: 16px; font-weight: 100;">{{ card.title }}</h3>
              </div>
            </div>
          </div>
        </v-row>
      </v-col>
    </v-row>
    <!-- categories -->
  </v-container>
</template>

<script>
import AuthModal from "./AuthModal.vue";
import { globalStore } from "../main";
export default {
  name: "HomeComponent",

  components: {
    AuthModal
  },

  computed: {
    user: function () {
      return globalStore.globalUser === null ? null : globalStore.globalUser.data.user;
    }
  },

  data() {
    return {
      color: "#FFA737",
      authModal: {
        dialog: false,
        account: false
      },
      type: "",
      browsCards: [
        {
          name: "Card 1",
          sub: "hola"
        },
        {
          name: "Card 2",
          sub: "hola"
        },
        {
          name: "Card 3",
          sub: "hola"
        },
        {
          name: "Card 4",
          sub: "hola"
        }
      ],
      featuredCards: [
        {
          img: "https://cdn.vuetifyjs.com/images/cards/sunshine.jpg",
          userImg: "https://cdn.vuetifyjs.com/images/john.jpg",
          description: "Una descripcion de prueba bro.",
          featured: "featured",
          price: "$25 - $35",
          name: "Moonlight Restourant",
          ratingValue: 4.5,
          address: "Santa Monica, CA",
          phoneNumber: "+1 809-555-2020",
          category: "Restaurant",
          iconColor: "#35C2A5",
          status: "Open",
          categoryIcon: "mdi-dumbbell"
        },
        {
          img: "https://cdn.vuetifyjs.com/images/cards/house.jpg",
          userImg: "https://cdn.vuetifyjs.com/images/john.jpg",
          description: "Una descripcion de prueba bro.",
          featured: "featured",
          price: "$25 - $35",
          name: "Pre-fab homes",
          ratingValue: 3.5,
          address: "Whitehaven Beach",
          phoneNumber: "+1 809-555-2020",
          category: "Restaurant",
          iconColor: "#FFB874",
          status: "Close",
          categoryIcon: "mdi-food"
        },
        {
          img: "https://cdn.vuetifyjs.com/images/cards/road.jpg",
          userImg: "https://cdn.vuetifyjs.com/images/john.jpg",
          description: "Una descripcion de prueba bro.",
          featured: "",
          price: "$25 - $35",
          name: "Favorite road trips",
          ratingValue: 5,
          address: "una direccion jevi",
          phoneNumber: "+1 809-555-2020",
          category: "Restaurant",
          iconColor: "#FFB874",
          status: "Open",
          categoryIcon: "mdi-dumbbell"
        },
        {
          img: "https://cdn.vuetifyjs.com/images/cards/docks.jpg",
          userImg: "https://cdn.vuetifyjs.com/images/john.jpg",
          description: "Una descripcion de prueba bro.",
          featured: "featured",
          price: "",
          name: "Australian beaches",
          ratingValue: 3,
          address: "Whitsunday Islands",
          phoneNumber: "+1 809-555-2020",
          category: "Restaurant",
          iconColor: "#FFB874",
          status: "Close",
          categoryIcon: "mdi-food"
        },
        {
          img: "https://cdn.vuetifyjs.com/images/cards/plane.jpg",
          userImg: "https://cdn.vuetifyjs.com/images/john.jpg",
          description: "Una descripcion de prueba bro.",
          featured: "featured",
          price: "$25 - $35",
          name: "Best airlines",
          ratingValue: 3.5,
          address: "Whitsunday Island",
          phoneNumber: "+1 809-555-2020",
          category: "Shopping",
          iconColor: "#FFB874",
          status: "Open",
          categoryIcon: "mdi-dumbbell"
        },
        {
          img: "https://cdn.vuetifyjs.com/images/cards/sunshine.jpg",
          userImg: "https://cdn.vuetifyjs.com/images/john.jpg",
          description: "Una descripcion de prueba bro.",
          featured: "",
          price: "",
          name: "Nuevo Hotel Genial",
          ratingValue: 3.5,
          address: "Whitsunday Island",
          phoneNumber: "+1 809-555-2020",
          category: "Gym & Fitness",
          iconColor: "#35C2A5",
          status: "Close",
          categoryIcon: "mdi-dumbbell"
        }
      ],
      categoryCards: [
        {
          title: "Nightlife",
          locations: "hola",
          icon: "mdi-music",
          iconColor: "#f30d79"
        },
        {
          title: "Restaurant",
          locations: "hola",
          icon: "mdi-silverware-fork-knife",
          iconColor: "#35c2a5"
        },
        {
          title: "Gym & Fitness",
          locations: "hola",
          icon: "mdi-dumbbell",
          iconColor: "#4cbfd8"
        },
        {
          title: "Art & History",
          locations: "hola",
          icon: "mdi-pillar",
          iconColor: "#ffb874"
        },
        {
          title: "Hotels",
          locations: "hola",
          icon: "mdi-bed-king-outline",
          iconColor: "#ff7d4f"
        },
        {
          title: "Outdoor Activities",
          locations: "hola",
          icon: "mdi-campfire",
          iconColor: "#8c689d"
        },
        {
          title: "Shopping",
          locations: "hola",
          icon: "mdi-cart-outline",
          iconColor: "#35c2a5"
        },
        {
          title: "Eat & Drink",
          locations: "hola",
          icon: "mdi-food",
          iconColor: "#ff8480"
        }
      ]
    };
  },

  methods: {
    openModal(type) {
      type === "l"
        ? (this.authModal.account = true)
        : (this.authModal.account = false);

      this.authModal.dialog = !this.authModal.dialog;
    },

    logOut() {
      this.$store.dispatch("logout");
    }
  }
};
</script>


<style scoped>
.container {
  top: -20px;
  padding: 0px;
  background-color: "#F9FAFC";
}
.logo-container {
  padding-top: 20px;
  padding-left: 50px;
}
.lightbox {
  box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 0%,
    transparent 72px
  );
}
.link {
  padding-right: 30px;
  font-size: 16px;
}
.menu-row {
  margin-top: -10px;
  padding-right: 20px;
  margin-right: 20px;
}
.o-span-class {
  color: #fff;
  padding: 0px 10px;
  font-size: 16px;
}
.v-btn.add-listing-btn:hover {
  color: #021f4a !important;
  background-color: #fff;
  transition: 0.5s;
}
.icon-card {
  border-radius: 8px;
  background-color: rgba(228, 228, 228, 0.4);
}
.input-border {
  border-radius: 8px;
  border: solid 10px rgba(228, 228, 228, 0.4);
}
.discover-text {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
}
.sub-text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-left: 30px;
}
.highlights-text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
}
.search-fields {
  height: 45px;
}
.search-box {
  background-color: #fff;
  margin-top: -11.5px;
  margin-bottom: -12px;
}
.card-avatar {
  position: absolute;
  margin-top: -40px;
  right: 40px;
}
.cities-img {
  width: 300px;
  height: 350px;
}
.cities-text-div {
  margin-top: 90%;
  color: #f2f2f2;
}
.cities-text-div > h3 {
  font-size: 20px;
  font-weight: 200;
}
.cities-text-div > h5 {
  font-size: 16px;
  font-weight: 200;
}
.places-div > h1 {
  font-weight: 600;
  color: #333333;
}
.divider {
  border-radius: 16px;
  border: solid 1.2px #8c8c8c;
  width: 105px;
}
.divider-sub-title {
  color: #8c8c8c;
  font-size: 16px;
}
.save-div {
  color: #fff;
  position: absolute;
  top: 85%;
}
.save-text {
  font-size: 14px;
  font-weight: 100;
}
.address-phone-row {
  width: 100%;
  margin-left: 1px;
  padding: 10px 20px 20px 15px;
}
.phone-address {
  color: #575a68;
  font-size: 14px;
  font-weight: 100;
}
.category-icon {
  border-radius: 26px;
  padding: 6px;
  background-color: #fc8682;
}
.featured-status {
  margin-left: 150px;
  color: #575a68;
  font-size: 14px;
  align-self: center;
}
.category-card {
  color: #000;
  border-radius: 16px;
  background-color: rgb(249, 250, 252);
  transition: 0.5s ease;
}
.category-card:hover {
  transition: 0.5s ease;
  background-image: url("../assets/header_inicio.jpg");
  /* linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 0%,
    transparent 72px
  ); */
  background-color: #202d52;
  color: #fff !important;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b2032;
  /* opacity: .9; */
}
.category-card:hover > .pivot > .popular-category-icon {
  color: #fff !important;
  transition: 0.5s;
}
</style>
