<template>
  <v-alert
    transition="slide-x-reverse-transition"
    border="left"
    :icon="notification.icon"
    colored-border
    :type="notification.type"
    close-text="Close Alert"
    class="message"
    :value="alert"
  >{{ notification.message }}</v-alert>
</template>

<script>
export default {
    name: "NotificationMessage",

    props: ["notification"],

    methods: {
        hide_alert: function (event) {
            window.setInterval(() => {
                this.alert = false;
            }, 4000)    
        }
    },
    mounted: function () {
        if(alert){
            this.hide_alert();
        }
    },

    data() {
        return {
            alert: 'false'
        }
    }
}
</script>

<style>
.message {
  font-size: 18px;
  font-weight: 600;
}
</style>