<template>
    <div class="notifications-list">
        <NotificationMessage v-for="notification in notification.notifications" :key="notification.id" :notification="notification"/>
    </div>
</template>

<script>
import NotificationMessage from "./NotificationMessage"
import { mapState } from "vuex"
export default {
    components: {
        NotificationMessage
    },

    computed: {
        ...mapState(["notification"])
    }
}
</script>

<style>
.notifications-list {
    position: fixed;
    top: 18%;
    left: 40%;
    margin-right: 15px;
    width: 420px;
}
</style>