<template>
  <v-app>
    <AppBar />
    <router-view :key="$route.fullPath" />
    <notifications-list />
    <FooterComponent />
  </v-app>
</template>

<script>
import AppBar from "./components/AppBar.vue";
import FooterComponent from "./components/FooterComponent.vue";
import NotificationsList from './components/NotificationsList.vue';
export default {
  name: "App",

  components: {
    AppBar,
    FooterComponent,
    NotificationsList
  },

  data() {
    return {
      currentRoute: null
    };
  }
};
</script>

<style>
body {
  font-family: "Nunito", sans-serif !important;
}
.v-application {
  font-family: "Nunito", sans-serif !important;
  background: none !important;
  background-color: #f9fafc;
  color: rgba(0, 0, 0, 0.87);
}
.v-application a {
  text-decoration: none !important;
}
.v-btn.search-button {
  width: 100%;
  background-color: #ffa737;
  border-radius: 12px;
  border: solid 2px #ffa737;
  color: #fff;
}
.v-btn.search-button:hover {
  color: #ffa737 !important;
  border: solid 2px #ffa737;
  background-color: #fff;
  transition: 0.5s;
}
</style>
